#              [ COMPASS-WALCS-BASIC V1.0 ]

#              [ 控制参数输入文件 ]

#-------------计算控制参数---------------------------

#水深控制参数(无限水深-INFINITE,有限水深-FINITE)

INFINITE

#是否输入船舶静力特性Aw,Sy,hx,hy(是-YES,否-NO)

NO

#是否考虑锚链效应(是-YES,否-NO)

NO

#横摇阻尼修正(0-横摇不修正,1-ram,rmb法,2-ram,rmb,ek0法,3-米勒法(需输入舭龙骨数据),4-驳船经验公式, 5-临界阻尼系数)

5

#单体或多体(单体-SINGLE,多体-MULTI)

MULTI

#波浪频率输入方式(自然频率-FREQUENCY,周期-PERIOD)

FREQUENCY

#-------------输出控制参数---------------------------

#是否输出静水载荷计算结果(是-YES,否-NO)

NO

#是否输出运动响应计算结果(是-YES,否-NO)

YES

#是否输出计算点压力响应结果(是-YES,否-NO)

NO

#是否输出剖面载荷响应计算结果(是-YES,否-NO)

YES

#是否输出计算点速度加速度响应计算结果(是-YES,否-NO)

NO

#是否考虑入射波相位和波高(是-YES,否-NO)

NO

#是否输出用于PATRAN加载的压力文件(是-YES,否-NO)

NO

